* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #ddd3ba;
    background: url(/img/Artboard.png) center/cover repeat;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.header__title {
    padding-top: 100px;
    align-self: center;
    font-size: 4.5rem;
    color: #555555;
    transition: all 0.7s ease-in-out;
}

.header__title:hover {
    color: #0c6400;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 70px;
}

.main__img img {
    width: 170px;
    border-radius: 50%;
}

.main__section {
    color: #555555;
    font-size: 1.2rem;
    background-color: #ddd3ba;
    padding: 17px;
    border-radius: 5px;
}

footer {
    background-color: #ddd3ba;
}

@media screen and (max-width:340px) {
    .header__title {
        font-size: 2.7rem;
    }
}

@media screen and (max-width: 240px) {
    .header__title {
        font-size: 2.2rem;
    }

    .main__section {
        font-size: 0.9rem;
    }
}