* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #ddd3ba;
    background: url(/img/Artboard.png) center/cover repeat;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.header__title {
    padding-top: 100px;
    align-self: center;
    font-size: 4.5rem;
    color: #555555;
    transition: all 0.7s ease-in-out;
}

.header__title:hover {
    color: #0c6400;
}

.main__section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.main__img img {
    max-width: 500px;
    max-height: 500px;
    object-fit: contain;
    transition: all 0.7s ease-in-out;
}

.main__img img:hover {
    transform: scale(1.01);
}

footer {
    background-color: #ddd3ba;
}

@media screen and (min-width: 1000px) {
    .main__section {
        gap: 10px;
    }
}

@media screen and (max-width: 520px) {
    .main__img img {
        max-width: 300px;
        max-height: 300px;
    }
}